/* font-family: 'Montserrat', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Roboto', sans-serif; */

/* 
background: #E5E5E5;

color p #757575 
color h #212121
accent color #2196F3
*/

/* Common */
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --second-accent-color: #ffffff;
  --second-background-color: #2f303a;
}

body {
  color: var(--primary-text-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  margin: 0;
}

h1,
h2,
h3,
ul,
p {
  padding: 0;
  margin: 0;
}

img {
  display: block;
  width: 100%;
  height: auto;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.services {
  padding-top: 0;
}
/* .features {
  padding-bottom: 0;
} */
/* header */
header {
  border-bottom: 1px solid #ececec;
}

.menu,
.nav,
.contact-list,
.nav-list {
  display: flex;
}

.menu {
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.contact-list,
.nav-list,
.features-list,
.servises-list,
.team-list,
.footer-list,
.portfolio-list,
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.contact-list {
  margin-left: auto;
  margin-right: 50px;
}
.contact-list:last-child {
  margin-right: 0;
}

.logo {
  display: block;
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  text-decoration: none;
  margin-right: 93px;
}

.logo-header {
  color: var(--title-text-color);
}
.logo-footer {
  color: var(--second-accent-color);
}
.section-hero,
.section-footer {
  background-color: var(--second-background-color);
}

.section-hero {
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.button-hero {
  display: block;
  background-color: var(--accent-color);
  color: var(--second-accent-color);
  margin: 30px auto 0 auto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  min-width: 200px;
  min-height: 50px;
  padding: 10px 32px;
  text-align: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
.hero-title {
  color: var(--second-accent-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.link {
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-decoration: none;
  /* margin-right: 50px; */
}
.nav-item {
  margin-right: 50px;
}
.nav-item:last-child {
  margin-right: 0;
}
.contact-item {
  margin-left: 50px;
}
.contact-item:first-child {
  margin-left: 0;
}

.link:hover,
.link:focus,
.link-footer:hover,
.link-footer:focus {
  color: var(--accent-color);
}

.link-footer {
  color: var(--second-accent-color);
  font-size: 14px;
  line-height: 1.71;
  font-style: normal;
  text-decoration: none;
}

/* list */
.features-list,
.servises-list,
.team-list {
  display: flex;
}
.features-list p {
  margin-top: 10px;
}
.features-item {
  margin-right: 30px;
}
.features-item:last-child {
  margin-right: 0;
}
.servises-item {
  margin-right: 30px;
}
.servises-item:last-child {
  margin-right: 0;
}
.team-item {
  display: block;
  margin-right: 30px;
  background-color: var(--second-accent-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team-item:last-child {
  margin-right: 0;
}
/* Main content */

.team {
  background-color: #f5f4fa;
}
.team-item-description {
  padding-top: 30px;
  padding-bottom: 30px;
}

.features-title,
.team-section-title,
.team-title,
.services-title,
.portfolio-title,
.footer-title {
  color: var(--title-text-color);
  font-weight: 700;
  letter-spacing: 0.03em;
}

.services-title,
.team-section-title {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}
.services-title,
.team-section-title {
  margin-bottom: 50px;
}

.features-title,
.footer-title {
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.team-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.portfolio-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}

.features-text {
  font-size: 14px;
  line-height: 1.71;
}

.team-text {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-top: 10px;
}

.portfolio-text {
  font-size: 16px;
  line-height: 1.9;
}
.contact-link {
  color: var(--primary-text-color);
  display: flex;
  align-items: center;
}

/* portfolio - filter */

.filter {
  display: flex;
  justify-content: center;
}
.filter-item {
  margin-right: 8px;
}
.filter-item:last-child {
  margin-right: 0;
}
.button {
  cursor: pointer;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  padding: 6px 22px;
  background-color: #f5f4fa;
  border: 1px transparent;
  border-radius: 4px;
}

.button:hover,
.button:focus {
  color: var(--second-accent-color);
  background-color: var(--accent-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* clients */

.clients-list {
  display: flex;
  justify-content: center;
}
.clients-item {
  width: 170px;
  height: 92px;
  /* padding: 16px 32px; */
  border: 1px solid #afb1b8;
  border-radius: 4px;
  margin-right: 30px;
  position: relative;
  text-align: center;
}

.clients-item:hover,
.clients-item:focus {
  border-color: var(--accent-color);
}

.clients-item:hover .clients-icon,
.clients-item:focus .clients-icon {
  fill: var(--accent-color);
}

.clients-link {
  display: block;
  width: 100%;
  height: 100%;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-icon {
  fill: #afb1b8;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* portfolio list */

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
}
.portfolio-item {
  margin-bottom: 30px;
  margin-right: 30px;
}
.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.portfolio-item:nth-child(3n + 3) {
  margin-right: 0;
}
.portfolio-item:nth-child(n + 7) {
  margin-bottom: 0;
}
.portfolio {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}
/* footer */

.section-footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.section-footer .logo {
  margin-right: 0;
  margin-bottom: 20px;
}

.footer-item {
  margin-bottom: 9px;
}
.footer-item:last-child {
  margin-bottom: 0;
}
.footer-contact {
  color: rgba(255, 255, 255, 0.6);
}

.footer {
  display: flex;
}
.footer-social-media {
  margin-left: 70px;
}
.footer-title {
  color: var(--second-accent-color);
  padding-top: 12px;
  margin-bottom: 20px;
}

/* icons */

.icon {
  display: block;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  fill: var(--primary-text-color);
}

.contact-link:hover .icon,
.contact-link:focus .icon {
  fill: var(--accent-color);
}

.features-icon {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin-bottom: 30px;
}

.features-icon-picture {
  width: 70px;
  height: 70px;
}

.socialmedia-icons {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}
.socialmedia-icons-list {
  display: flex;
  list-style: none;
}

.socialmedia-icon-item {
  margin-right: 10px;
  width: 44px;
  height: 44px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  position: relative;
}
.footer-social-media .socialmedia-icon-item {
  background-color: rgba(255, 255, 255, 0.1);
}
.socialmedia-icon-list:last-child {
  margin-right: 0;
}
.socialmedia-icon-link {
  display: block;
  width: 100%;
  height: 100%;
}

.socialmedia-icon-item:hover,
.socialmedia-icon-item:focus {
  background-color: var(--accent-color);
}
.socialmedia-icon {
  display: block;
  margin: 12px;
  width: 20px;
  height: 20px;
  fill: #afb1b8;
}

.socialmedia-icon-item:hover .socialmedia-icon,
.socialmedia-icon-item:focus .socialmedia-icon {
  fill: var(--second-accent-color);
}
.footer-social-media .socialmedia-icon {
  fill: var(--second-accent-color);
}

/* header {
  background-color: burlywood;
}
.nav-list {
  background-color: aqua;
}
.contact-list {
  background-color: tomato;
}
.menu {
  background-color: yellowgreen;
}
.features-list {
  background-color: yellow;
}
.features {
  background-color: aquamarine;
}
.services {
  background-color: blueviolet;
}
.servises-list {
  background-color: blue;
}
.team {
  background-color: coral;
}
.team-list {
  background-color: crimson;
}
.team-section-title,
.services-title {
  background-color: deeppink;
} */
/* .portfolio {
  background-color: chocolate;
}
.portfolio-list {
  background-color: darkorchid;
}
.portfolio-title {
  background-color: darkgreen;
}
.section {
  background-color: darkgray;
} */
